/* General Styles */
body {
  background-color: #000;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  line-height: 1.8;
  scroll-behavior: smooth;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), 
              url('https://unsplash.com/photos/XkKCui44iM0/download') center/cover no-repeat;
  padding: 100px 20px;
}

header h1 {
  font-size: 3.5rem;
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #f58529;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

/* Slider Buttons */
.custom-button {
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.custom-button:hover {
  opacity: 0.8;
}
